.header{
  display: flex;
  background-color: black;
  color: white;
  height: 80px;
  font-size: 22px;
}
.header-item{
  line-height: 80px;
  width: 150px;
  text-align: center;
}
.header-icon{
  width: 40px;
}
